{%extends 'layout.html' %}

{% block body %}
<!--面板-->
    <div class="card">
  <div class="card-body">
    查询订单
  </div>
  <div class="card-footer">

<form class="row row-cols-lg-auto g-3 align-items-center" method="post">
  <!-- URL 输入框 -->
  <div class="col-12 col-md-5">
    <input type="text" class="form-control" placeholder="请输入订单id" name="id"/>
  </div>

  <!-- 数量输入框 -->
<!--  <div class="col-12 col-md-4">-->
<!--    <input type="number" class="form-control" id="quantity" placeholder="请输入数量" name="count"/>-->
<!--  </div>-->

  <!-- 创建按钮 -->
  <div class="col-md-1 d-flex align-items-end justify-content-end" >
    <button type="submit" class="btn btn-outline-secondary w-100">查询</button>
  </div>
</form>

  </div>
  </div>



    <table class="table table-bordered">

<!--<div style="display: flex; gap: 10px; margin-bottom: 10px;">-->
<!--    <a class="btn btn-info" href="/order/create">添加订单</a>-->
<!--    <a class="btn btn-danger" href="/order/delete">删除订单</a>-->
<!--    <a class="btn btn-success" href="/order/update">修改订单</a>-->
<!--    <a class="btn btn-secondary" href="/order/select">查询订单</a>-->
<!--</div>-->

<!--        添加按钮-->

        <thead>
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>数量</th>
                <th>用户ID</th>
                <th>状态</th>
            </tr>
        </thead>
            <tbody>
            {% for item in data_list %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.url}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <span class="badge text-bg-{{state_dict[item.state].cls
                        }}">{{state_dict[item.state].text}}</span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% endblock %}


<!--使用母版简化代码-->